/* Custom animations */
@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0px);
  }
}
.float-animation {
  animation: float 3s ease-in-out infinite;
}
/* Custom scrollbar */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #f97316;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #ea580c;
}

.m-w {
  width: 54px;
}

.f-img {
  max-width: 150px;
}

/* Phone/Mobile size */
@media (max-width: 768px) {
  .f-img {
    max-width: 362px;
  }
} 


#reviews {
  background-color: white;
}

#services {
  background-color: rgb(31 41 55 / var(--tw-bg-opacity, 1));
}

#white {
  color: white;
}

.bg-white {
  background-color: rgb(249 115 22 / var(--tw-bg-opacity, 1));
}

.f-img {
    max-width: 271px;
    margin-left: 32%;
}


#m-p {
  padding-top: 6%;
  padding-bottom: 6%;
}

/* Phone/Mobile override for .h-64 (set to 41rem on small screens) */
@media (max-width: 768px) {
  #p-img {
    height: 37rem;
    margin-top: 10%;
  }

 .f-img {
    max-width: 260px;
    margin-left: 14%;
}

#h-s-e {
    padding-left: 12%;
    padding-right: 58%;
    white-space: nowrap;
    font-size: x-large;
}

} 
